.userItem {
  border-radius: 10px;
  min-height: 5rem;
  border-bottom: 1px solid #d8d8d8;

  ion-avatar {
    margin-right: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;

    .name {
        font-size: 1.2rem;
      font-weight: 600;
    }

    .email {
        font-size: 0.9rem;
        color: #7f7f7f;
    }

    .location {
      font-size: 0.8rem;
      color: #868686;
    }
  }

  ion-avatar {
    --border-radius: 4px;
  }
}
